/*Modifica toda la página*/
body {
    font-family: sans-serif;
}
h1 {
    color: #011e7e;
}

/*Modifica el navegador de la página web*/
.ul1 {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.divli {
    padding: 2%;
}
.divli:hover {
    background-color: #fa1d86;
}
.icono1 {
    width: 8%;
}
.menu1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 7%;
}
.logoeduca {
    display: flex;
    flex-direction: row;
}
.navf {
    background-color: #224bcf;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.prr1 {
    font-size: 151%;
}
.emp {
    color: #224bcf;
    width: 30%;
    height: 10%;
    font-size: 120%;
    border: none;
    border-radius: 5%;
    background-color: rgba(157, 157, 250, 0.199);
}
.emp:hover  {
    background-color: #011e7e;
    color: white;
}
.a1 {
    text-decoration: none;
    color: white;
}
/*Modifica la presentacion*/
.div1 {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 7%;
}
.img1 {
    width: 60%;
}
/*Modifica la lista de secciones*/
.div2 {
    display: grid;
    grid-template-areas: "secc secc secc secc secc";
    margin-left: 5%;
    margin-right: 5%;
    gap: 1%;
}
.secc {
    padding: 25%;
    background-color: #e9edfb;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5%;
    color: #011e7e;
    font-weight: bold;
}
/*Modifica el footer*/
.pie {
    display: grid;
    grid-template-areas: "categorias enlarapid siguenos"
    "reapor reapor reapor";
    margin-left: 5%;
    margin-right: 5%;
    color: gray;
}
.pief {
    background-color: #e9edfb;
}
.categorias {
    display: flex;
    flex-direction: column;
}
.enlarapid {
    display: flex;
    flex-direction: column;
}
.siguenos {
    display: flex;
    flex-direction: column;
}
.reapor {
    grid-column: 1/4;
    text-align: center;
    padding: 2%;
    border-top: solid 1px gray;
}
.unod {
    color: #fa1d86;
    text-decoration: none;
}
.pienla:hover {
    margin-left: 10%;
    color: #fa1d86;
}
/*Pagina: Blog*/
.nublf {
    background-image: url(../images/heading-bg.png);
    background-size: cover;
}
.nubl {
    padding: 1%;
    margin-left: 5%;
    margin-right: 5%;
}
.infoblog {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.blog {
    background-color: #e9edfb;
    border-radius: 2%;
    padding: 10%;
}
.blogs {
    display: grid;
    grid-template-areas: "blog blog blog"
    "blog blog blog";
    margin-left: 5%;
    margin-right: 5%;
    gap: 2%;
}
.blogimg {
    position: relative;
    right: 9%;
}
.blogttl {
    font-size: 100%;
}
.resalt:hover{
    color: blue;
}
/*Pagina: Contactos*/
.contactsecc {
    background-color: #e9edfb;
    border-radius: 2%;
    padding: 10%;
    text-align: center;
}
.infocontactos {
    display: grid;
    grid-template-areas: "contactsecc contactsecc contactsecc";
    gap: 2%;
    margin-left: 5%;
    margin-right: 5%;
}
.textfor {
    width: 98%;
    height: 5%;
}
.formens {
    width: 99%;
    height: 35%;
}
.formu {
    display: grid;
    grid-template-areas: "lario ubi";
    margin-left: 5%;
    margin-right: 5%;
    gap: 19%;
    border-radius: 2%;
}
.lario {
    background-color: #e9edfb;
    padding: 3%;
    width: 150%;
}
.contaimg {
    width: 15%;
}